<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
</head>
<body>
    <div class="main">
        <div class="head">
            <img src="../static/img/icon.png" alt="icon" height="150">
            <h1>{{title}} Statistics</h1>
            <div class="alert">
                <h3>{{alert}}</h3>
            </div>
        </div>

        <div class="status-container">
            <div class="status">
                <h2>Nodes</h2>
                {% if nodes %}
                    {% for node in nodes %}
                        <div class="status-content">
                            {{ node.name }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="status-content">
                        <p>No nodes to display</p>
                    </div>
                {% endif %}

            </div>
            <div class="status">
                <h2>Statistics</h2>
                <div class="status-content">
                    Total Users - {{ users }}
                </div>
                <div class="status-content">
                    Total Servers - {{ servers }}
                </div>
            </div>
        </div>

        <div class="footer">
            <!-- Including this will help me and my project to be discovered by other -->
            <p>Powered by <a href="https://github.com/rhylso/statsdactyl">StatsDactyl</a> <br> made with ❤️ by <a href="https://github.com/rhylso">@rhylso</a></p>
        </div>
    </div>
</body>
</html>