<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Uptime</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
</head>
<body>
    {% extends "layout.html" %}
    <div class="main">
        {% block content %}

        <div class="status-container">
            <div class="status">
                <h2>Uptime Monitor</h2>
                {% if results %}
                    {% for result in results %}
                        <div class="status-content">
                            {{ results }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="status-content">
                        <p>No nodes to display</p>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>